<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<div align="center">
    <a style="color:black;font-family:'Courier New'" href="/login">Log out</a>
</div>

<body>
<div align = "center">
    <h1>MAIN ADMIN PANEL</h1>
    <form action="#" th:action="@{/admin/user-management}">
        <p colspan="2"><button type="submit">Database Manager</button></p>
    </form>

    <form action="#" th:action="@{/admin/subject-management}">
        <p colspan="2"><button type="submit">Subject - User Manager</button></p>
    </form>
</div>
</body>
</html>