<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div align = "center">
    <h1>MAIN ADMIN PANEL</h1>
    <form action="#" th:action="@{/admin/management}">
        <tr>
            <td colspan="2"><button type="submit">Database Manager</button></td>
        </tr>
    </form>

    <form action="#" th:action="@{admin/subjects}">
        <tr>
            <td colspan="2"><button type="submit">Subject - User Manager</button></td>
        </tr>
    </form>
</div>
</body>
</html>