<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>
<div align="center">
    <h1>Selected subject</h1>

    <!--    table ma <th> - kolumna i <td> - element-->
    <table border="1" cellpadding="10">
        <thead>
            <th>Subject id</th>
            <th>Subject name</th>
            <th>Class name</th>
        </thead>
        <tbody>
            <td th:text="${subject.subjectId}">ID</td>
            <td th:text="${subject.subjectName}">First Name</td>
            <td th:text="${subject.className}">Last Name</td>
        </tbody>
    </table>
</div>

<div>

</div>
</body>
</html>